:host {
  width: 100%;
}

li {
  list-style: none;
  width: 100%;
  display: flex;
}

label:not(.has-checkbox) {
  padding-left: .5rem;
}

li:hover {
  background-color: #affcff;
}

label {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:not(.has-checkbox) {
  appearance: none;
}

:host(:focus-within) {
  outline: none;
  background-color: #affcff;
}

